{% extends "farmer_app/base/header.html" %}
{% block title %}
    Kategori Ekle Sayfası
{% endblock title %}
{% block content %}
    <div class="container body">
        <div class="main_container">
            {% include "farmer_app/base/menu.html" %}
            <div class="right_col" role="main">
                <!-- page content -->
                <div class="row">
                    <div class="col-md-12 col-sm-12 ">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Kategori Ekle</h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li><a class="collapse-link"><i
                                            class="fa fa-chevron-up"></i></a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <br/>
                                <form id="demo-form2" data-parsley-validate
                                      class="form-horizontal form-label-left">
                                    <div class="item form-group">
                                        <label class="col-form-label col-md-3 col-sm-3 label-align"
                                               for="first-name">Kategori Adı
                                        </label>
                                        <div class="col-md-6 col-sm-6 ">
                                            <input type="text" id="first-name"
                                                   class="form-control ">
                                        </div>
                                    </div>

                                    <div class="item form-group">
                                        <label class="col-form-label col-md-3 col-sm-3 label-align">Kategori
                                            Durumu</label>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"
                                                       class="flat"
                                                       checked="checked">
                                                Aktif
                                            </label>
                                        </div>
                                    </div>
                                    <div class="ln_solid"></div>
                                    <div class="item form-group">
                                        <div class="col-md-6 col-sm-6 offset-md-4">
                                            <button type="submit"
                                                    class="btn btn-success">
                                                Kaydet
                                            </button>
                                            <button class="btn btn-primary"
                                                    type="button">İptal
                                            </button>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "farmer_app/base/body_style.html" %}
{% endblock content %}