{% extends "farmer_app/base/header.html" %}
{% load django_tables2 %}
{% load  widget_tweaks %}
{% load static %}

{% block title %}
    Ürün Ekleme
{% endblock title %}

{% block content %}
    {% include "farmer_app/base/panel.html" with panel_title="Ürün Ekle" %}

    {% block panel_content %}
        <div class="x_content">
            <br/>
            <form method="post"
                  class="form-horizontal form-label-left" enctype="multipart/form-data"
                  onsubmit="return validateForm()">
                {% csrf_token %}
{#                {% include 'includes/form.html' with form=form %}#}
                {#                {% if edit.pk %}#}
                {#                    <a href="/delete_enstitu/{{ edit.pk }}" style="float: left"#}
                {#                       class="btn btn-danger">Sil</a>{% endif %}#}
                {% for field in form %}
                    <div class="item form-group" id="{{ field.name }}_div">
                        <label style="font-weight: bold; font-size: 15px"
                               for="{{ field.id_for_label }}"
                               class="col-form-label col--3 col-sm-3 label-align col-"
                               id="{{ field.name }}_lbl">{{ field.label }}</label>
                        <div class="col-md-6 col-sm-6 ">
                         {% if field.name == 'status' %}
                              {% render_field field  class="item col-md-1 col-sm-1" style="width:16px; height:32px"%}
                         {% else %}
                               {% render_field field  class="form-control"  %}
                         {% endif %}

                            {% for error in field.errors %}
                                <span class="help-block">{{ error }}</span>
                            {% endfor %}
                            {% if field.help_text %}
                                <small>{{ field.help_text }}</small>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
                <div class="ln_solid"></div>
                <div class="item form-group">
                    <div class="col-md-6 col-sm-6 offset-md-4">
                        <button id="submit"
                                type="submit"
                                class="btn btn-success"
                                style="float: right">
                            Kaydet
                        </button>
                        <a class="btn btn-primary"
                           type="button"
                           href="{% url 'product' %}">
                            İptal
                        </a>
                    </div>
                </div>
            </form>
        </div>
    {% endblock panel_content %}
{% endblock content %}