{% extends "farmer_app/base/header.html" %}
{% load django_tables2 %}

{% block title %}
    Ürünler Sayfası
{% endblock title %}

{% block content %}
    {{ message }}
    {% include "farmer_app/base/panel.html" with panel_title="Ürün Listesi" add_title="Ürün Ekle" %}

    {% block panel_content %}
        <div class="x_content">
            <div class="row">
                <div class="col-sm-12">
                    {% render_table table %}
                </div>
            </div>
        </div>
    {% endblock panel_content %}

{% endblock content %}

