{% extends "farmer_app/base/header.html" %}
{% block title %}
    Kayıt Ol Sayfası
{% endblock title %}
{% block login_content %}
    <div>
        <div class="login_wrapper">
            <div class="animate form login_form">
                <section class="login_content">
                    <form method="post">
                        <h1>Hesap Oluştur</h1>
                        {% csrf_token %}
                        <div>
                            <input type="text" class="form-control"
                                   placeholder="Kullanıcı adı"
                                   name="username"/>
                        </div>
                        <div>
                            <input type="email" class="form-control"
                                   placeholder="Email"
                                   name="email"/>
                        </div>
                        <div>
                            <input type="password" class="form-control"
                                   placeholder="Şifre"
                                   name="password"/>
                        </div>

                        <div class="clearfix"></div>

                        <div>
                            <button class="btn btn-default submit"
                               id="submit"
                               type="submit">Kayıt Ol</button>
                        </div>

                        <div class="separator">
                            <p class="change_link">Zaten üye misiniz?
                                <a href="{% url 'login' %}"
                                   class="to_register"> Giriş
                                    Yap </a>
                            </p>

                            <div class="clearfix"></div>
                            <br/>

                            <div>
                                <h1>Bisfora Teknoloji</h1>
                                <p>©2021 All Rights Reserved.Privacy and
                                    Terms</p>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
{% endblock login_content %}