{% extends "farmer_app/base/header.html" %}
{% block title %}
    Şifre Yenileme Sayfası
{% endblock title %}
{% block login_content %}
    <div>
        <div class="login_wrapper">
            <div class="animate form login_form">
                <section class="login_content">
                    <form method="post">
                        {% csrf_token %}
                        <h1>Yeni Şifre Belirle</h1>
                        <div>
                            <input type="email" c
                                   lass="form-control"
                                   id="email_id"
                                   name="email_id"
                                   placeholder="Email"/>
                        </div>
                        <div>
                            <input type="password"
                                   class="form-control"
                                   id="new_password_id"
                                   name="new_password_id"
                                   placeholder="Yeni Şifre"/>
                        </div>
                        <div>
                            <input type="password"
                                   class="form-control"
                                   id="new_password_again_id"
                                   name="new_password_again_id"
                                   placeholder="Yeni Şifre Tekrar"/>
                        </div>
                        <div>
                            <button class="btn btn-default submit"
                                    id="submit"
                                    type="submit">
                                Şifre Yenile
                            </button>
                        </div>

                        <div class="clearfix"></div>

                        <div class="separator">
                            <div>
                                <h1>Bisfora Teknoloji</h1>
                                <p>©2021 All Rights Reserved.Privacy and
                                    Terms</p>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
{% endblock login_content %}