{% extends "farmer_app/base/header.html" %}
{% block title %}
    Şifre Yenileme Sayfası
{% endblock title %}
{% block content %}
    <div>
        <div class="login_wrapper">
            <div class="animate form login_form">
                <section class="login_content">
                    <form>
                        <h1>Yeni Şifre Belirle</h1>
                        <div>
                            <input type="email" class="form-control"
                                   placeholder="Email" required=""/>
                        </div>
                        <div>
                            <input type="password" class="form-control"
                                   placeholder="Yeni Şifre" required=""/>
                        </div>
                        <div>
                            <input type="password" class="form-control"
                                   placeholder="Yeni Şifre Tekrar"
                                   required=""/>
                        </div>
                        <div>
                            <a class="btn btn-default submit"
                               href="{% url 'login' %}">Şifre Yenile</a>
                        </div>

                        <div class="clearfix"></div>

                        <div class="separator">
                            <div>
                                <h1>Bisfora Teknoloji</h1>
                                <p>©2021 All Rights Reserved.Privacy and
                                    Terms</p>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
{% endblock content %}