{% load  widget_tweaks %}
{% if form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
        {% for error in form.non_field_errors %}
            <p {% if forloop.last %} class="mb-0" {% endif %}> {{ error }}</p>
        {% endfor %}
    </div>
{% endif %}

{% for field in form.visible_fields %}
    <div class="item form-group" id="{{ field.name }}_div">
        <label class="col-form-label col-md-3 col-sm-3 label-align"
               for="{{ field.id_for_label }}"
               id="{{ field.name }}_lbl">{{ field.label }}</label>
        <div class="col-md-6 col-sm-6 ">
            {% if field.name == 'status' %}
                <div class="checkbox">
                    {% render_field field class="flat" type="checkbox" checked="checked" %}
                </div>
            {% elif field.name == 'category_image' %}
                <div class="btn-group">
                    <a class="btn"
                       title="Insert picture (or just drag & drop)"
                       id="pictureBtn">
                        <i class="fa fa-picture-o"></i>
                    </a>
                    {% render_field field type="file" data-role="magic-overlay" data-target="#pictureBtn" data-edit="insertImage" %}
                </div>
            {% else %}
                {% render_field field class="form-control" %}
            {% endif %}

            {% for error in field.errors %}
                <span class="help-block">{{ error }}</span>
            {% endfor %}
            {% if field.help_text %}
                <small>{{ field.help_text }}</small>
            {% endif %}
        </div>
    </div>
{% endfor %}
<div class="ln_solid"></div>
<div class="item form-group">
    <div class="col-md-6 col-sm-6 offset-md-4">
        <button id="submit"
                type="submit"
                class="btn btn-success">
            Kaydet
        </button>
    </div>
</div>