<!DOCTYPE html>
<html lang="en">
<head>
    {% include "farmer_app/base/head_style.html" %}
    <title>
        {% block title %}

        {% endblock title %}
    </title>
</head>
<body class="{{ class }}">
{% if class != "login" %}
    <div class="container body">
        <div class="main_container">
            {% include "farmer_app/base/menu.html" %}
            {% include "farmer_app/base/top_navigation.html" %}
            <div class="right_col" role="main">
                {% block content %}

                {% endblock content %}
                {% include "farmer_app/base/body_style.html" %}
            </div>
        </div>
    </div>
{% else %}
    {% block login_content %}

    {% endblock login_content %}
{% endif %}
</body>
</html>