{% load static %}
<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a href="{% url 'index' %}" class="site_title">
                <span>Bisfora Teknoloji</span></a>
        </div>

        <div class="clearfix"></div>
        <!-- sidebar menu -->
        <div id="sidebar-menu"
             class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
                <ul class="nav side-menu">
                    <li><a href="{% url 'index' %}"><i
                            class="fa fa-home"></i>
                        Giriş Ekranı</a>
                    </li>
                    <li><a href="{% url 'category' %}"><i
                            class="fa fa-sitemap"></i>
                        Kategoriler</a></li>
                    <li><a href="{% url 'product' %}"><i
                            class="fa fa-leaf"></i>
                        Ürünler</a></li>
                </ul>
            </div>
        </div>
        <!-- /sidebar menu -->
    </div>
</div>
<!-- top navigation -->
<div class="top_nav">
    <div class="nav_menu">
        <div class="nav toggle">
            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
        </div>
        <nav class="nav navbar-nav">
            <ul class=" navbar-right">
                <li class="nav-item dropdown open"
                    style="padding-left: 15px;">
                    <a href="javascript:;"
                       class="user-profile dropdown-toggle"
                       aria-haspopup="true" id="navbarDropdown"
                       data-toggle="dropdown"
                       aria-expanded="false">Selis Sözen </a>
                    <div class="dropdown-menu dropdown-usermenu pull-right"
                         aria-labelledby="navbarDropdown">
                        <a class="dropdown-item"
                           href="javascript:;">
                            Profilim</a>
                        <a class="dropdown-item"
                           href="{% url 'login' %}"><i
                                class="fa fa-sign-out pull-right"></i>
                            Çıkış Yap</a>
                    </div>
                </li>
                <li role="presentation" class="nav-item dropdown open">
                    <a href="javascript:;"
                       class="dropdown-toggle info-number"
                       id="navbarDropdown1" data-toggle="dropdown"
                       aria-expanded="false">
                        <i class="fa fa-shopping-basket"></i>
                        <span class="badge bg-green">2</span>
                    </a>
                    <ul class="dropdown-menu list-unstyled msg_list"
                        role="menu" aria-labelledby="navbarDropdown1">
                        <li class="nav-item">
                            <a class="dropdown-item">
                                <span class="image"><img
                                        src="{% static 'images/salad.png' %}"
                                        alt="Profile Image"/></span>
                                <span class="message">Salata</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="dropdown-item">
                                <span class="image"><img
                                        src="{% static 'images/soup.png' %}"
                                        alt="Profile Image"/></span>
                                <span class="message">Mercimek Çorbası</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <div class="text-center">
                                <a class="dropdown-item">
                                    <strong>Sepetime Git</strong>
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>
<!-- /top navigation -->
