
    <div class="col-md-12 col-sm-12 col-lg-12">
        <div class="x_panel">
                    <div class="x_title">
                        <h2>
                            {{ panel_title }}
                        </h2>
                        <ul class="nav navbar-right panel_toolbox">
                            {% if add_title != null %}
                                <li><a class="modal-with-form btn btn-default"
                                       href="{{ add_url }}">
                                    {{ add_title }}
                                    <i class="fa fa-plus"></i></a>
                                </li>
                            {% endif %}
                            <li><a class="collapse-link"><i
                                    class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    {% block panel_content %}
                        test
                    {% endblock panel_content %}
                </div>

    </div>