{% if item_type == "product" %}
    <a class="modal-with-form"
       href="{% url 'add_cart' record.id %}"><i
            class="fa fa-shopping-cart"></i></a>
    <a class="modal-with-form"
       href="{% url 'update_product' record.id %}"><i
            class="fa fa-pencil"></i></a>
    <a href="{% url 'delete_product' record.id %}"
       class="delete-row"><i
            class="fa fa-trash-o"></i></a>
{% else %}
    <a class="modal-with-form"
       href="{% url 'update_category' record.id %}"><i
            class="fa fa-pencil"></i></a>
    <a href="{% url 'delete_category' record.id %}"
       class="delete-row"><i
            class="fa fa-trash-o"></i></a>
{% endif %}

