{% if item_type == "product" %}
    <a class="modal-with-form"
       href="{{ add_url1 }}{{ record.id }}"><i
            class="fa fa-shopping-cart"></i></a>
    <a class="modal-with-form"
       href="{{ add_url2 }}{{ record.id }}"><i
            class="fa fa-pencil"></i></a>
    <a href="{{ add_url3 }}{{ record.id }}"
       class="delete-row"><i
            class="fa fa-trash-o"></i></a>
{% else %}
    <a class="modal-with-form"
       href="{{ add_url1 }}{{ record.id }}"><i
            class="fa fa-pencil"></i></a>
    <a href="{{ add_url2 }}{{ record.id }}"
       class="delete-row"><i
            class="fa fa-trash-o"></i></a>
{% endif %}

